*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

header{

    h1{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 800;
        background-image: linear-gradient(to right, #f6d365 0%, #fda085 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2.5rem;
    }
}

@keyframes animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

div#game{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;

    div#board{
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        min-height: 400px;
        width: min(400px, 100%);
    
        .cell{
            background-color: #fff;
            border: 1px solid #000;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3rem;
            font-weight: bold;
            cursor: pointer;
        }

        .player{
            cursor: text;
        }

    }

}
